/* Estilo del body */
body {
    background-image: url(../Imagenes/imagenes/tarjeta_formulario.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center center; /* Centra la imagen en el fondo */
        background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    }
    
    /* Estilo del contenedor del formulario */
    .payment-form {
        max-width: 500px;
        width: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto; /* Centra el formulario */
    }
    
    /* Estilo de los encabezados */
    .payment-form h2 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center;
    }
    
    .payment-form h3 {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
        color: #007bff;
        text-align: center;
    }
    
    /* Estilo de los inputs */
    .form-control {
        border-radius: 5px;
        height: 40px;
    }
    
    /* Estilo para el checkbox */
    .form-check-label {
        margin-top: 10px;
        font-size: 14px;
    }
    
    /* Estilo del botón */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        height: 45px;
        font-size: 16px;
        width: 100%;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004080;
    }
    
    /* Alineación de los campos más pequeños */
    .row .col-md-6 {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333; 
        color: white;
        text-align: center;
        padding: 10px 0;
        z-index: 1000; /
    }
    /* Responsividad para pantallas pequeñas */
    @media (max-width: 768px) {
        .payment-form {
            padding: 20px;
        }
    
        .navbar-nav {
            text-align: center;
            flex-direction: column;
            width: 100%;
        }
    
        .navbar-nav li {
            width: 100%;
            padding: 0.5rem 0;
        }
    }
    